<h1>Need Music ??</h1>
<p class="lead">Use NgSpotify app</p>

<form action="" method="post" role="form">
	<div class="form-group">
		<label for=""></label>
		<input type="text" class="form-control" [(ngModel)]="searchStr" (keyup)="searchMusic()"  name="searchStr" id="" placeholder="Search music">
	</div>
</form>

<div *ngIf="searchRes">
    <div *ngFor="let res of searchRes">
        <div class="row">
            <div class="col-md-8">
                <div class="search-res well">
                    <h6><a routerLink="/artist/{{res.id}}">{{res.name}}</a></h6>
                    <div><strong>Genres:</strong>
                    <span *ngFor="let genre of res.genres"> {{genre}} </span>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>